[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
mealpy = "==3.0.1"
matplotlib = "*"
numpy = "*"
torchviz = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
